body{
    cursor: url("target.png"), auto;
 margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
    
}

Button {
  position: absolute;
  top: 90%;
  left: 45%;
  padding: 10px;
  font-family: 'Press Start 2P';
  background: black;
  color: white;
}